@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    /* width: 1920px; */
    /* height: 130px; */
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 37px 240px;
}

.nav-logo {
    display: flex;

}

nav ul {
    list-style: none;
    display: flex;
    color: #3C354F;
    font-size: 18px;
}

nav li {
    padding: 32px;
}

nav li>img {
    width: 30px;
    height: 18px;
    justify-content: center;
}

.nav-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.imgggg {
    width: 86.041px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 46px;
    padding-right: 20px;
}

nav h2 {
    color: #0B0223;
    font-size: 45px;
    justify-content: center;
    text-align: center;
}

.top-g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav done */
.banner-container {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    margin-bottom: 0px;

}

.goat-cr7 {
    width: 901px;
    height: 700px;
    background-color: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    justify-content: center;
    align-items: center;
    padding: 148px 305px 148px 244px;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
}

.all-trans-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-color {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin: 0px;
}

.play-like {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

header ul li {
    list-style: none;
}

.description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-left: 100px;
}

.banner-img {
    padding-right: 240px;
    margin-right: 240px;
    margin-left: 80px;
}

.btn-sing {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    border: none;
}

.btn-go {
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    border: none;
}

/* Banner complete */
main section {
    margin: auto 240px;
}

.sec-i-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    padding: 0px 200px;
    gap: 15px;
}

.games-tittle {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.game-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

#title-des {
    text-align: center;
}

.img-diff {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* play instantly */
.play-container {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.play-descptn {
    margin-left: 100px;
    /* padding-left: 300px; */
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.img-con {
    position: relative;
    bottom: 275px;
    right: 130px;
}

.play-tittle {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
}

/* Links sections */
.link-box {
    width: 295px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;


    align-items: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.text-links {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    position: relative;
    bottom: 20px;
    left: 10px;
    text-decoration: none;
}

.aradace {
    border: 2px solid #FF42A5;
    border-radius: 50px;
    margin: 0;
    /* padding: 5px; */
}

/* Footer */
footer {
    width: 1920px;
    height: 636px;
    flex-shrink: 0;
    background: #0B0223;
}

.footer-logo {
    color: #FFF;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    gap: 10px;
    margin-top: 0px;
    padding-top: 120px;
}

.about-us {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    gap: 60px;
}

.logo-img {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 60px;
}

.logo-img img {
    width: 40px;
    height: 40px;
}

.small {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 70px;
}

.small-ii {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}